.success-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.success-modal.active {
    opacity: 1;
    visibility: visible;
}

.success-content {
    background: white;
    padding: 2rem;
    border-radius: 30px;
    text-align: center;
    transform: scale(0.7);
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
}

.success-modal.active .success-content {
    transform: scale(1);
    opacity: 1;
}

.checkmark {
    /* width: 80px; */
    /* height: 80px; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin: 0 auto 1.5rem;
    position: relative;
}

.success-title {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
}